<div class="container">
  <div class="logo" routerLink=""><img src="/assets/images/Logo.svg" /></div>
  <div class="content">
    <h1 class="title">Results</h1>
    <p class="warning">
      Pay attention to the fact that our product uses <br />
      artificial intelligence and there is a possibility that it <br />
      will return you answers with errors.
    </p>
    <div class="strengths-box"></div>
    <div class="weaknesses-box"></div>
    <div class="improvements-box"></div>
    <div class="resume-box"></div>
  </div>
  <app-footer class="footer"></app-footer>
</div>
