<div class="title">Boost your <span>Application!</span></div>
<div class="logo-box">
  <div class="logos">
    <img src="/assets/images/university-logo/image 1.svg" id="common-app" />
    <img src="/assets/images/university-logo/image 5.svg" alt="oxford" />
    <img src="/assets/images/university-logo/image 3.svg" alt="UOC" />
    <img src="/assets/images/university-logo/image 4.svg" id="ivy" />
    <img src="/assets/images/university-logo/image 2.svg" alt="UCAC" />
    <img src="/assets/images/university-logo/image 6.svg" id="last-img" />
  </div>
</div>
