<div class="top-text">
  <h1 class="title"><span>AI-Powered</span> Resume booster.</h1>
  <p>Save your Resume by checking it using BetterResume!</p>
</div>

<div class="features-block">
  <div class="left-block">
    <h4>
      Increase your <br />
      Acceptance chance!
    </h4>
    <p>
      Simple and secure control of your organization’s financial and legal
      transactions. Send customized <br />
      invoices and contracts
    </p>
  </div>
  <div class="center-block">
    <h4>
      Impress your <br />
      Councilor!
    </h4>
    <p>
      Schedule and reserve classrooms <br />at one campus or multiple <br />
      campuses. Keep detailed records of student attendance
    </p>
  </div>
  <div class="right-block">
    <h4>
      Get Accepted in the <br />
      best Universities!
    </h4>
    <p>
      Automate and track emails to <br />
      individuals or groups. Skilline’s <br />built-in system helps organize
      <br />
      your organization
    </p>
  </div>
</div>

<div class="circles">
  <div class="circle" id="left-circle">
    <img src="/assets/icons/file-invoice 1.svg" />
  </div>
  <div class="circle" id="center-circle">
    <img src="/assets/icons/calendar.svg" />
  </div>
  <div class="circle" id="right-circle">
    <img src="/assets/icons/users 1.svg" />
  </div>
</div>
