<div class="top-text">
  <h1 class="title">What is <span>ApplyBooster?</span></h1>

  <p>
    Apply Booster leverages AI to optimize resumes, aiding in university
    selection by offering <br />personalized recommendations. It streamlines the
    application process, enhancing your prospects <br />
    with tailored insights. Boost your chances of admission with Apply Booster
    today.
  </p>
</div>
<div class="container">
  <div style="float: left">
    <button (click)="scrollLeft()">
      <img src="/assets/icons/Polygon-left.svg" />
    </button>
  </div>
  <div class="box">
    <div #widgetsContent class="middle">
      <div class="info-widget">
        <p>
          "This AI-powered resume checker for online education credentials is
          <br />a game-changer! It's like having a personal career advisor right
          at my
          <br />
          fingertips. Definitely recommending it to all my friends who are
          diving<br />
          into the world of online education!"
        </p>
        <h4>Ehsan (University of Toronto)</h4>
        <img src="/assets/icons/star.svg" />
      </div>
      <div class="info-widget">
        <p>
          "Unbelievable! This online education resume AI is the ultimate secret
          <br />
          weapon for job seekers. It's like having a resume guru analyze your
          <br />
          credentials in seconds. So grateful for this cutting-edge technology
          <br />
          making the job hunt a whole lot easier!"
        </p>
        <h4>Max (University of Coliforina)</h4>
        <img src="/assets/icons/star.svg" />
      </div>
      <div class="info-widget">
        <p>
          "Absolutely blown away by the precision of this AI-powered online
          <br />
          education resume checker! It's like having a virtual career coach
          <br />
          giving personalized feedback instantly. Seriously, where has this tool
          <br />
          been all my job-seeking life? Highly recommend giving it a try!"
        </p>
        <h4>Veraj (TUM)</h4>
        <img src="/assets/icons/star.svg" />
      </div>
    </div>
  </div>

  <div style="float: right">
    <button (click)="scrollRight()">
      <img src="/assets/icons/Polygon-right.svg" />
    </button>
  </div>
</div>
