<!-- <div class="container" [formGroup]="ahmadiFormGroup"> -->
  <!-- <div class="content-row">
    primary buttons
    <button class="tsp-button primary medium">سلام</button>
    <button class="tsp-button primary large">ورود</button>
    <button class="tsp-button primary small">ثبت نام</button>
  </div>
  <div class="content-row">
    secondary buttons
    <button class="tsp-button secondary medium">سلام</button>
    <button class="tsp-button secondary large">ورود</button>
    <button class="tsp-button secondary small">ثبت نام</button>
  </div>
  <div class="content-row">
    <tsp-datepicker class="custom-date-picker" [(ngModel)]="loremica" (ngModelChange)="onDateChange($event)" [ngModelOptions]="{standalone: true}">
    </tsp-datepicker>
  </div>
  <div class="content-row">
    <div class="tsp-input">
      <input id="medium-input" class="medium" type="text" placeholder=" " />
      <label for="medium-input"> سلام </label>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
    <div class="tsp-input">
      <input
        id="small-input"
        class="small"
        type="text"
        placeholder=" "
        formControlName="salam"
      />
      <label for="small-input"> سلام </label>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
    <div class="tsp-input">
      <input id="large-input" class="large have-placeholder ltr" type="text" placeholder=" 0999999" formControlName="byby"/>
      <label for="large-input"> سلام </label>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
    <div class="tsp-input">
      <textarea
        name="salam"
        id="text"
        cols="30"
        rows="5"
        placeholder=" "
      ></textarea>
      <label for="text">سلام</label>
    </div>
  </div>
  <div class="content-row">
    <div class="fabric">
      <mat-icon svgIcon="error-icon"></mat-icon>
    </div>
  </div>
  <div class="content-row">
    <div class="tsp-input">
      <ng-select
        formControlName="byby"
        class="large"
        placeholder="سلام"
        [items]="['سلام', 'خدافزی']"
        dropdownPosition="auto"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
    <div class="tsp-input">
      <ng-select
        formControlName="fyfy"
        class="medium"
        placeholder="سلام"
        [items]="['سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی']"
        dropdownPosition="auto"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
    <div class="tsp-input">
      <ng-select
        formControlName="dydy"
        class="small"
        placeholder="سلام"
        [items]="['سلام', 'خدافزی']"
        dropdownPosition="auto"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div>
  </div> -->
  <!-- <div class="tsp-tab-container">
    <mat-tab-group class="tsp-tab-group">
      <mat-tab label="TabHeader1">
        content
      </mat-tab>
      <mat-tab label="TabTabHeader2">
        content
      </mat-tab>
    </mat-tab-group>
  </div> -->
  <!-- <div class="content-row tsp-input"> -->
    <!-- <input class="medium" type="text" moveNextByMaxLength="1" maxlength="1">
    <input class="medium" type="text" moveNextByMaxLength="1" maxlength="1">
    <input type="text" class="medium" moveNextByMaxLength="1" maxlength="1"> -->
    <!-- <input class="medium" type="text" [maxLengthJump]="1" maxlength="1">
    <input class="medium" type="text" [maxLengthJump]="1" maxlength="1">
    <input type="text" class="medium" [maxLengthJump]="1" maxlength="1">
    <div class="tsp-input">
      <input
        id="small-input"
        class="small"
        type="text"
        placeholder=" "
        formControlName="salam"
        [value]="binding | date"
      />
      <label for="small-input"> سلام </label>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div> -->

    <!-- <div class="tsp-input">
      <ng-select
        formControlName="fyfy"
        class="medium"
        placeholder="سلام"
        [items]="['سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی','سلام', 'خدافزی']"
        dropdownPosition="auto"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>
      <span class="error-icon">
        <mat-icon svgIcon="error-icon"></mat-icon>
      </span>
    </div> -->
  <!-- </div> -->

<!-- </div> -->


<!-- <div class="container">
  <mat-accordion>
    <mat-expansion-panel> -->
      <!-- <ng-template to></ng-template> -->
      
      <!-- <mat-expansion-panel-header>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
