<div class="main-container">
  <div class="container">
    <div class="banner">
      <div class="header">
        <img src="assets/images/Logo.svg" class="logo" />
        <div class="button-container">
          <button class="login-button" role="button" routerLink="/login">
            Login
          </button>
          <button class="boost-button" role="button">Boost us!</button>
        </div>
      </div>
      <div class="slogan">
        <h1>
          Boost Your <span>Resume</span> <br />
          Instantly with AI
        </h1>
      </div>
      <div class="below-slogan">
        Upload your Resume in one click and Improve it instantly!
      </div>
      <button
        class="upload-button"
        role="button"
        mat-button
        (click)="openUploadDialog()"
      >
        Upload Here!
      </button>
      <!-- <img src="../../../assets/images/Red-underline-set.svg" class="underline" /> -->
      <div class="block">
        <img src="/assets/images/three-block.svg" />
      </div>
    </div>
  </div>
</div>
